.showOnHover{
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.strip:hover .showOnHover{
    opacity: 1;
}

.unitCard:hover .showOnHover{
    opacity: 1;
}

@keyframes unitCardFade{
    from {opacity:0;}
    to {opacity:1;}
}

.unitCard{
    animation-name: unitCardFade;
    animation-duration: 1s;
}
